@import "normalize";
@import "fonts";
// @import "variables";

html {
  --bg: #FEFBF3;
  --bg-main: #FEFBF3;
  --header: #00A19D;
  --transparent: #CECECE;
  --warning: #FFB319;
  --success: #57CC99;
  --white: #FFFFFF;
  --black: #000000;
  --add-btn: #faf7ea;
}

html[data-theme='dark'] {
  --bg: #292929;
  --bg-main: #292929;
  --header: #161616;
  --transparent: #CECECE;
  --warning: #FFB319;
  --success: #57CC99;
  --white: #000000;
  --black: #FFFFFF;
  --add-btn: #262626;
}

body {
  background-color: var(--bg);
  color: var(--black);
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 550px;
  background-color: var(--bg-main);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;

  &__header {
    background-color: var(--header);
    color: var(--black);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 24px;
      color: var(--black);
      font-weight: 400;
      margin: 0 10px;
    }

    &-add {
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        height: 14px;
        width: 14px;
        path {
          fill: var(--black);
        }
      }
    }

    &-list {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        height: 10px;
        width: 14px;
        path {
          fill: var(--black);
        }
      }
    }

    &-theme {
      position: absolute;
      right: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        height: 20px;
        width: 20px;
        path {
          fill: var(--black);
        }
      }
    }
  }

  &__add-field {
    display: flex;
    border-bottom: 1px solid var(--transparent);
    input {
      border: 0;
      font-size: 14px;
      background-color: var(--bg-main);
      padding: 15px;
      outline: none;
      flex: 1;
      &::-webkit-input-placeholder {
        color: var(--transparent);
      }
      &:-ms-input-placeholder {
        color: var(--transparent);
      }
      &::-ms-input-placeholder {
        color: var(--transparent);
      }
      &::placeholder {
        color: var(--transparent);
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      background-color: transparent;
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:hover {
        background-color: var(--add-btn);
      }
      svg {
        height: 14px;
        width: 14px;
        path {
          fill: var(--black);
        }
      }
    }
  }

  &__list {
    overflow: auto;
    height: calc(100% - 52px); //52
    &-item {
      $self: &;
      display: flex;
      align-items: center;
      padding: 15px;
      border-bottom: 1px solid var(--transparent);

      &--completed {
        #{$self}-check {
          border: 1px solid var(--success);
          &:hover {
            border: 1px solid var(--warning);
          }
          svg {
            width: 10px;
            height: 8px;
            path {
              fill: var(--success);
            }
          }
        }
      }

      &-check {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--warning);
        border-radius: 30px;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        cursor: pointer;
        background-color: var(--bg-main);

        &:hover {
          background-color: var(--bg-main);
          svg {
            width: 10px;
            height: 8px;
            path {
              fill: var(--warning);
            }
          }
        }

        svg {
          width: 10px;
          height: 8px;
          path {
            fill: none;
          }
        }
      }

      p {
        font-size: 14px;
        flex: 1;
      }

      &-remove {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          width: 14px;
          height: 15px;
          path {
            fill: var(--transparent);
          }
        }
        &:hover {
          svg {
            width: 14px;
            height: 15px;
            path {
              fill: var(--black);
            }
          }
        }
      }
    }
  }
}
